body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}


.container {
    padding: 30px;
}

h2 {
    color: #343a40;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}